
.grid {
    display: grid;
    grid-template-areas: "list title";
    grid-template-columns: 7 5;
}

#todo-list {
    grid-area: list;
}

#todo-title {
    grid-area: title;
    text-align: center;
    align-items: center;
}

.list-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.complete {
    text-decoration: line-through;
}

p {
    cursor: pointer;
    margin: 0;
}